@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.fc {
  padding: 0 50px 50px;
}

.fc .fc-body {
  box-shadow: 0px 5px 15px rgba(153, 155, 168, 0.15);
}

.fc .fc-time {
  display: none;
}

.fc .fc-head-container {
  border: none;
  background-color: #e8ecef;
}

.fc .fc-widget-header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.fc .fc-day-header {
  border-color: transparent;
  padding: 20px 0;
}

.fc .fc-button {
  background-color: red;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: green;
}

.fc .fc-day-number {
  float: left !important;
}

.fc .fc-title {
  white-space: break-spaces;
}
.fc .fc-day {
  background: white;
}
.fc .fc-left {
  color: grey;
}

.fc .fc-event {
  border: none;
  border-left: solid 5px #f98971;
  background-color: #f8f8f8;
  color: black;
}

.fc .fc-content {
  padding: 3px;
}

.fc .fc-prev-button {
  border-radius: 50% !important;
  height: 45px;
  width: 45px;
  background: transparent;
  color: black;
}

.fc .fc-next-button {
  border-radius: 50% !important;
  height: 45px;
  width: 45px;
  background: transparent;
  color: black;
}
