@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slider {
  overflow-y: hidden;
  width: 100%;
}

.slick-slider-places {
  overflow-y: hidden;
  width: 100%;
}

/* @media (max-width: 900px) {
  .slick-slider {
    overflow-y: hidden;
    width: 100%;
  }
} */

@media (max-width: 1045px) {
  .slick-slider {
    overflow-y: hidden;
    width: 90%;
  }

  .slick-slider-places {
    overflow-y: hidden;
    width: 90%;
  }
}

@media (min-width: 701px) {
  .slick-slider {
    overflow-y: hidden;
    width: 120%;
  }
}

@media (max-width: 550px) {
  .slick-slider {
    overflow-y: hidden;
    width: 150%;
  }

  .slick-slider-places {
    overflow-y: hidden;
    width: 120%;
  }
}
