@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slider {
  overflow-y: hidden;
  width: 140%;
}

.slick-slider-places {
  overflow-y: hidden;
  width: 120%;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .slick-slider {
    overflow-y: hidden;
    width: 105%;
  }
}

@media (max-width: 1550px) and (min-width: 1300px) {
  .slick-slider {
    overflow-y: hidden;
    width: 105%;
  }

  .slick-slider-places {
    overflow-y: hidden;
    width: 110%;
  }
}

@media (min-width: 1650px) {
  .slick-slider {
    overflow-y: hidden;
    width: 105%;
  }

  .slick-slider-places {
    overflow-y: hidden;
    width: 110%;
  }
}

@media (max-width: 550px) {
  .slick-slider {
    overflow-y: hidden;
    width: 160%;
  }

  .slick-slider-places {
    overflow-y: hidden;
    width: 130%;
  }
}
